#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  background-color: rgb(98, 89, 89);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wind-knts{
  width: 100%;
}